/*----------Estilos que representan la temática de la pagina----------*/
.supertitulo{
    margin-top: 2px;
    text-align: center;
    font-family: Comic Sans MS;
    font-weight:bold;
    font-size: 50px;
    color: #EBD758;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}
/*
.telcofont{
    background-image: linear-gradient(to left, #00b1eb, #009338, #ccd500);
    background-clip: text;
    color: transparent;
}
*/
/*----------Estilos del encabezado----------*/
header {
    background-color: #469624;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/*----------Estilos de la barra de navegacion----------*/
nav {
    background-color: #138417;
    padding: 10px;
}

.separacion{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
/* Adapto el estilo de supertitulo a los enlaces del navbar */
nav ul li a.supertitulo {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 20px;
}

nav ul li a.supertitulo:hover {
    background-color: #16a840;
    color:#61e7ee;
}

.fondo_gris{
    background-color: rgb(80, 78, 78);
}
nav ul li a.disable {
    color: rgb(174, 171, 171);
    text-decoration: none;
    text-shadow: none;
    background-color: rgb(49, 49, 49);
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 20px;
}

nav ul li a.disable:hover {
    background-color: #0b0b0b;
}

/* Usar mintitulo si quiero destacar alguna subcategoria
nav ul li a.mintitulo {
    color: beige;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

nav ul li a.mintitulo:hover {
    background-color: #16a840;
    color:#61e7ee;
}
*/
/*----------Estilos del cuerpo----------*/

body {
    background-color: beige;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    /* espaciado para la sección de 20 pixeles */
}

p.supertitulo{
    text-justify: auto;
    font-size: 25px;
    text-align: center;
    background-color: #138417;
    padding: 10px;
}

p.texto2{
    font-size: 20px;
    text-justify: auto;
    text-align: center;
    font-style: Arial;
}

span{
    font-weight: bold;
}
/*
.centrado {
    text-align: center;
    font-weight: bold;
    font-family: cursive; 
}
*/
img{
    display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
    margin: 0 auto; /* Centrar las imágenes horizontalmente */
    max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
    border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
    border-radius: 10px;
}
img.miimg {
    width: 350px;
    height: 400px;
}

img.miicono{
    width: 100px;
    height: 100px;
}

/*----------Estilos del pie de pagina----------*/


footer {
    background-color: #138417;
    /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a.supertitulo {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 20px;
}


footer a.supertitulo:hover {
    background-color: #16a840;
    color:#61e7ee;
}

.footer-content {
    max-width: 800px;
    /* Ancho máximo del contenido del footer */
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    /* separar el contenido del footer horizontalmente */
    display: inline-block;
    justify-content: space-around;
    /*permite mantener el sentido horizontal de los elementos */
    color: #fff;
    font-size: 20px;
}


#copyright{
    font-size: 15px;
}


